---
import Layout from '../layouts/Layout.astro';
//import Tree from '../components/Tree';
const baseURL = import.meta.env.BASE_URL;
---

<Layout title="Air Quality Statements">
  <nav>
    <ul>
      <li><a href=`${baseURL}2024-07-25.html`>2024-07-25</a></li>
      <li><a href=`${baseURL}2024-07-27.html`>2024-07-27</a></li>
    </ul>
  </nav>
  <div class="topicMain__container"><div dir="ltr" class="sc-690ca30c-0 cmrsaE"><div class="pageTitle__container"><div class="pageTitle__content"><div class="pageTitle__title"><h1>Air quality advisories</h1></div></div></div></div><span class="last_Updated_Text"><img src="/icons/last-updated-star.svg" alt=""> <!-- -->Last updated on August 13, 2024</span><div class="topicContent__main"><div id="body" class="styled-h2"><h2 class="bc_h2"><strong>Issued advisories<a id="IssuedAdvisories" name="IssuedAdvisories"></a></strong></h2>

<div class="responsive-table-wrapper"><table border="1" cellpadding="3" cellspacing="0" style="width:100%">
	<tbody>
		<tr>
			<td><strong>Location</strong></td>
			<td><strong>Advisory Type</strong></td>
			<td><strong>Status</strong></td>
			<td style="white-space:nowrap"><strong>Date</strong></td>
		</tr>
		<tr>
			<td>Multiple regions in BC</td>
			<td>Smoky Skies Bulletin (PDF)</td>
			<td>Issued</td>
			<td style="white-space:nowrap">DATE</td>
		</tr>
	</tbody>
</table></div>

<p><span><span dir="ltr">Advisories are updated during regular business hours.</span></span></p>

<h3 class="bc_h3"><a id="map" name="map"></a>Current Smoky Skies Bulletin map</h3>

<p>IMAGE HERE</p>

<h3 class="bc_h3">Latest updates</h3>

<div class="callout" aria-roledescription="callout">
<p><strong>For the latest updates:</strong></p>

<ul>
	<li>Subscribe to the <a href="https://www2.gov.bc.ca/gov/content/environment/air-land-water/air/air-quality/air-advisories/air-quality-subscription-service">Air Quality Subscription Service</a></li>
	<li>Outside regular business hours, visit <a href="https://weather.gc.ca/?province=bc&amp;zoom=5&amp;alertTableFilterProv=BC" target="_blank">Environment and Climate Change Canada’s Public Weather Alerts for B.C</a>.</li>
	<li>For <strong>Metro Vancouver </strong>and the<strong> Fraser Valley Regional District</strong>, see&nbsp;<a href="https://metrovancouver.org/services/air-quality-climate-action/air-quality-data-and-advisories" target="_blank">Metro Vancouver’s Air Quality Data and Advisories</a>&nbsp;and <a href="https://gis.metrovancouver.org/maps/Air" target="_blank">AirMap.ca</a>. For subscription to air quality advisories and bulletins, use <a href="https://metrovancouver.org/services/air-quality-climate-action/mailing-list" target="_blank">Metro Vancouver’s Air Quality and&nbsp;Climate Change Mailing List</a>.</li>
</ul>
</div>

<h2 class="bc_h2"><a id="about-air-quality-advisories" name="about-air-quality-advisories"></a>About air quality advisories</h2>

<p style="text-align:left"><span>An air quality advisory is issued when pollutant concentrations approach or exceed predetermined limits, or when degraded-air-quality episodes are expected to continue or&nbsp;worsen. </span></p>

<p style="text-align:left"><span>Advisories are issued in order to:</span></p>

<ul>
	<li>inform&nbsp;about degraded air quality</li>
	<li>help people make informed choices about reducing their exposure to elevated concentrations of air pollutants</li>
	<li>affect emission reduction actions (such as a limit on industrial emissions or wood stove use)</li>
	<li>provide vulnerable individuals and the general public with health advice developed by BC&nbsp;health agencies</li>
</ul>

<h2 class="bc_h2"><a id="smoky-skies-bulletins" name="smoky-skies-bulletins"></a>About Smoky Skies Bulletins</h2>

<p>The Smoky Skies Bulletin is a special type of public advisory to communicate the rapidly changing nature of wildfire smoke. It is issued when areas of the province are being impacted or have reasonable potential to be impacted by wildfire smoke within 24 to 48 hours. These bulletins are based on available pollutant concentrations information, satellite information, smoke forecast models and visual observations, and are&nbsp;not intended to manage local emission sources.</p></div>

<div class="topicPageNav__container nav_Tab"><div id="cmf-ui-page-navigation" class="sc-15ed282c-0 lfWRri"><button aria-label="Open More topics menu"><h2>More topics</h2><span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%"><span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%"><img style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0" alt="" aria-hidden="true" src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2716%27%20height=%2716%27/%3e"></span><img alt="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" decoding="async" data-nimg="intrinsic" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"><noscript><img alt="" srcSet="/icons/list.svg 1x, /icons/list.svg 2x" src="/icons/list.svg" decoding="async" data-nimg="intrinsic" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%" loading="lazy"/></noscript></span></button></div></div></div><div id="cmf-ui-supplementary-content" class="sc-482527c5-0 hgXFlr"><div dir="ltr"><div class="sc-2b15949a-0 drDTsU"><h2 class="banner">Related links</h2><div class="relatedLinks__content"><ul class="ulWithoutIntro"><li><span class="sc-5685e1a2-0 cvggFk"><a class="link-with-arrow relatedLinks_lists" href="/gov/content/environment/air-land-water/air/air-quality/current-air-quality-data" target=""><span>Current Air Quality Data</span><span class="space">&nbsp;</span><svg id="Arrow_right" data-name="Arrow right" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><g id="Arrow" transform="translate(1.999 1.771)"><path id="Path_168" data-name="Path 168" d="M9.6,23.462l7.334-7.342,6.413-6.414,3.177,3.177L23.344,16.06l-.061.061L12.774,26.639Z" transform="translate(0.717 0.865)" fill="currentColor"></path><path id="Path_169" data-name="Path 169" d="M9.6,5.2l3.177-3.177,10.57,10.57,3.177,3.177-3.177,3.177-3.175-3.177-3.177-3.177Z" transform="translate(0.717 -2.019)" fill="currentColor" opacity="0.999" style="mix-blend-mode:normal;isolation:isolate"></path><path id="Path_170" data-name="Path 170" d="M2.1,16.12V9.706H26.158l3.177,3.177L26.158,16.06l-.061.061Z" transform="translate(-2.097 0.865)" fill="currentColor" style="mix-blend-mode:normal;isolation:isolate"></path></g><rect id="Rectangle" width="32" height="32" fill="#fff" opacity="0"></rect></svg></a></span></li><li><span class="sc-5685e1a2-0 cvggFk"><a class="link-with-arrow relatedLinks_lists" href="http://www.env.gov.bc.ca/epd/bcairquality/data/aqhi-table.html" target=""><span>Air Quality Health Index</span><span class="space">&nbsp;</span><svg id="Arrow_right" data-name="Arrow right" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><g id="Arrow" transform="translate(1.999 1.771)"><path id="Path_168" data-name="Path 168" d="M9.6,23.462l7.334-7.342,6.413-6.414,3.177,3.177L23.344,16.06l-.061.061L12.774,26.639Z" transform="translate(0.717 0.865)" fill="currentColor"></path><path id="Path_169" data-name="Path 169" d="M9.6,5.2l3.177-3.177,10.57,10.57,3.177,3.177-3.177,3.177-3.175-3.177-3.177-3.177Z" transform="translate(0.717 -2.019)" fill="currentColor" opacity="0.999" style="mix-blend-mode:normal;isolation:isolate"></path><path id="Path_170" data-name="Path 170" d="M2.1,16.12V9.706H26.158l3.177,3.177L26.158,16.06l-.061.061Z" transform="translate(-2.097 0.865)" fill="currentColor" style="mix-blend-mode:normal;isolation:isolate"></path></g><rect id="Rectangle" width="32" height="32" fill="#fff" opacity="0"></rect></svg></a></span></li><li><span class="sc-5685e1a2-0 cvggFk"><a class="link-with-arrow relatedLinks_lists" href="/gov/content/environment/air-land-water/air/air-pollution/smoke-burning/ventilation-index" target=""><span>Ventilation Index</span><span class="space">&nbsp;</span><svg id="Arrow_right" data-name="Arrow right" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><g id="Arrow" transform="translate(1.999 1.771)"><path id="Path_168" data-name="Path 168" d="M9.6,23.462l7.334-7.342,6.413-6.414,3.177,3.177L23.344,16.06l-.061.061L12.774,26.639Z" transform="translate(0.717 0.865)" fill="currentColor"></path><path id="Path_169" data-name="Path 169" d="M9.6,5.2l3.177-3.177,10.57,10.57,3.177,3.177-3.177,3.177-3.175-3.177-3.177-3.177Z" transform="translate(0.717 -2.019)" fill="currentColor" opacity="0.999" style="mix-blend-mode:normal;isolation:isolate"></path><path id="Path_170" data-name="Path 170" d="M2.1,16.12V9.706H26.158l3.177,3.177L26.158,16.06l-.061.061Z" transform="translate(-2.097 0.865)" fill="currentColor" style="mix-blend-mode:normal;isolation:isolate"></path></g><rect id="Rectangle" width="32" height="32" fill="#fff" opacity="0"></rect></svg></a></span></li><li><span class="sc-5685e1a2-0 cvggFk"><a class="link-with-arrow relatedLinks_lists" href="https://envistaweb.env.gov.bc.ca/" target=""><span>BC Air Data Archive</span><span class="space">&nbsp;</span><svg id="Arrow_right" data-name="Arrow right" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><g id="Arrow" transform="translate(1.999 1.771)"><path id="Path_168" data-name="Path 168" d="M9.6,23.462l7.334-7.342,6.413-6.414,3.177,3.177L23.344,16.06l-.061.061L12.774,26.639Z" transform="translate(0.717 0.865)" fill="currentColor"></path><path id="Path_169" data-name="Path 169" d="M9.6,5.2l3.177-3.177,10.57,10.57,3.177,3.177-3.177,3.177-3.175-3.177-3.177-3.177Z" transform="translate(0.717 -2.019)" fill="currentColor" opacity="0.999" style="mix-blend-mode:normal;isolation:isolate"></path><path id="Path_170" data-name="Path 170" d="M2.1,16.12V9.706H26.158l3.177,3.177L26.158,16.06l-.061.061Z" transform="translate(-2.097 0.865)" fill="currentColor" style="mix-blend-mode:normal;isolation:isolate"></path></g><rect id="Rectangle" width="32" height="32" fill="#fff" opacity="0"></rect></svg></a></span></li></ul></div></div></div><div dir="ltr"><div class="sc-80777ebf-0 Eevlp"><div class="headings">Be notified</div><div class="promoBox__Container"><div class="promoBox__imageContainer"><a href="/gov/content/environment/air-land-water/air/air-quality/air-advisories/air-quality-subscription-service" class="promoBox__image promo-link" target="_self"><img src="https://www2.gov.bc.ca/assets/gov/environment/air-land-water/air/images/aqss-mobile-device-phone-sm.png" alt="Air Quality Subscription Service"></a></div><div class="promoBox__textContainer image-loaded"><div class="promoBox__textContent"><div class="promoBox__text"><p><a href="/gov/content/environment/air-land-water/air/air-quality/air-advisories/air-quality-subscription-service" target="_self">Subscribe</a> to receive Air Quality notifications by email.</p></div></div></div></div></div></div></div></div>
</Layout>
