---
import Layout from '../layouts/Layout.astro';
//import Tree from '../components/Tree';
const baseURL = import.meta.env.BASE_URL;
---

<Layout title="Air Quality Statements">
  <nav>
    <ul>
      <li><a href=`${baseURL}2024-07-25.html`>2024-07-25</a></li>
    </ul>
  </nav>
</Layout>
